@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import "@fontsource/istok-web/index.css";
@import "@fontsource/istok-web/700.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}
